<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <!-- use forEach instead traditional for ... loop -->
    <!-- array.forEach(function(<singleArrayItem>){//Use each singleArrayItem)) -->
    <div class="box">

        <% newListItems.forEach(function(item){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=item.name%>
                </p>
            </div>
            <% }) %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list">+</button>
                </form>
    </div>

    <%- include("footer") -%>